<%- include("../../views/partials/admin/header") %>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Dashboard </h2>
        </div>
       
    </div>
    <div><img src="\assets\img\banner\dashboard.png" alt="img" style="width: 1100px;"></div>
</section>
<%- include("../../views/partials/admin/footer") %>
